{% extends 'base.html.twig' %}

{% block title %}Oeuvre index{% endblock %}

{% block body %}
    <h1>Oeuvre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameOeuvre</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for oeuvre in oeuvres %}
            <tr>
                <td>{{ oeuvre.id }}</td>
                <td>{{ oeuvre.nameOeuvre }}</td>
                <td>{{ oeuvre.quantity }}</td>
                <td>{{ oeuvre.price }}</td>
                <td>{{ oeuvre.photo }}</td>
                <td>
                    <a href="{{ path('oeuvre_show', {'id': oeuvre.id}) }}">show</a>
                    <a href="{{ path('oeuvre_edit', {'id': oeuvre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('oeuvre_new') }}">Create new</a>
{% endblock %}
